{
    "template_name":"ubuntu_2204_packer-template",
    "vcenter_server":"vcenter.domain.local",
    "username":"administrator@vsphere.local",
    "password":"",
    "datastore":"",
    "folder": "Templates",
    "host":"",
    "datacenter": "",
    "cluster": "",
    "network": "",
    "ssh_username": "packerbuilt",
    "ssh_password": "PackerBuilt!"
}
